<html>

<head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>

<body>
    <div class="main">
        <%- include('./includes/header') %>

        <div class="main-container">
            <div class="content-container" data-aos="fade-up">
                <div class="tools_div color">
                    <a href="./color.html">
                        <img src='../images/color.png' />
                        <div>
                            <h2>颜色对照表</h2>
                            <p
                                style="display:-webkit-box;overflow: hidden;text-overflow: ellipsis;word-break: break-all;-webkit-box-orient: vertical;-webkit-line-clamp:2;">
                                颜色对照表，颜色速查表。</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <%- include('./includes/footer') %>
    </div>
    <script>
        $('#sidebar').stickySidebar({
            topSpacing: 80,
            // bottomSpacing: 60
        });
    </script>
</body>

</html>